__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.spec
*.egg-info/
venv/
.env
recordings/

# Локальные файлы, которых нет в репозитории
bin/
lib/
*.log
mic_debug_raw.txt
mic_debug_hex.txt
mic_result.txt
ffmpeg_log.txt
error.log
.screen_recorder.lock
.screen_recorder.pid
